<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MedStockWarnMapper">
    
    <resultMap type="MedStockWarn" id="MedStockWarnResult">
        <result property="warnId"    column="warn_id"    />
        <result property="medId"    column="med_id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="warnType"    column="warn_type"    />
        <result property="warnLevel"    column="warn_level"    />
        <result property="currentQty"    column="current_qty"    />
        <result property="warnQty"    column="warn_qty"    />
        <result property="warnContent"    column="warn_content"    />
        <result property="warnTime"    column="warn_time"    />
        <result property="handleStatus"    column="handle_status"    />
        <result property="handleUser"    column="handle_user"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="handleRemark"    column="handle_remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="medCode"    column="med_code"    />
        <result property="medName"    column="med_name"    />
        <result property="medSpec"    column="med_spec"    />
        <result property="unit"    column="unit"    />
    </resultMap>

    <sql id="selectMedStockWarnVo">
        select w.warn_id, w.med_id, w.batch_id, w.batch_no, w.warn_type, w.warn_level, w.current_qty, w.warn_qty, w.warn_content, w.warn_time, w.handle_status, w.handle_user, w.handle_time, w.handle_remark, w.create_by, w.create_time,
               m.med_code, m.med_name, m.med_spec, m.unit
        from med_stock_warn w
        left join med_info m on m.med_id = w.med_id
    </sql>

    <select id="selectMedStockWarnList" parameterType="MedStockWarn" resultMap="MedStockWarnResult">
        <include refid="selectMedStockWarnVo"/>
        <where>  
            <if test="medId != null "> and w.med_id = #{medId}</if>
            <if test="batchId != null "> and w.batch_id = #{batchId}</if>
            <if test="batchNo != null  and batchNo != ''"> and w.batch_no = #{batchNo}</if>
            <if test="warnType != null  and warnType != ''"> and w.warn_type = #{warnType}</if>
            <if test="warnLevel != null  and warnLevel != ''"> and w.warn_level = #{warnLevel}</if>
            <if test="handleStatus != null  and handleStatus != ''"> and w.handle_status = #{handleStatus}</if>
            <if test="medName != null  and medName != ''"> and m.med_name like concat('%', #{medName}, '%')</if>
            <if test="medCode != null  and medCode != ''"> and m.med_code like concat('%', #{medCode}, '%')</if>
            <if test="categoryId != null "> and m.category_id = #{categoryId}</if>
            <if test="params.beginWarnTime != null and params.beginWarnTime != ''"> and w.warn_time &gt;= #{params.beginWarnTime}</if>
            <if test="params.endWarnTime != null and params.endWarnTime != ''"> and w.warn_time &lt;= #{params.endWarnTime}</if>
        </where>
        order by w.handle_status, w.warn_level desc, w.warn_id desc
    </select>

    <select id="selectStockWarnSourceList" resultMap="MedStockWarnResult">
        select t.med_id, t.batch_id, t.batch_no, t.warn_type, t.warn_level, t.current_qty, t.warn_qty, t.warn_content
        from (
            select m.med_id as med_id, null as batch_id, '' as batch_no, '0' as warn_type,
                   case when ifnull(s.total_qty, 0) &lt;= 0 then '2' else '1' end as warn_level,
                   ifnull(s.total_qty, 0) as current_qty, m.stock_min as warn_qty,
                   concat('药品【', m.med_name, '】当前库存 ', ifnull(s.total_qty, 0), ' ', ifnull(m.unit, ''), '，低于库存下限 ', m.stock_min, '，建议及时补货') as warn_content
            from med_info m
            left join med_stock s on s.med_id = m.med_id
            where m.status = '0' and ifnull(s.total_qty, 0) &lt; ifnull(m.stock_min, 0)
            union all
            select m.med_id, null, '', '1', '0', ifnull(s.total_qty, 0), m.stock_max,
                   concat('药品【', m.med_name, '】当前库存 ', ifnull(s.total_qty, 0), ' ', ifnull(m.unit, ''), '，高于库存上限 ', m.stock_max, '，注意库存积压')
            from med_info m
            inner join med_stock s on s.med_id = m.med_id
            where m.status = '0' and ifnull(m.stock_max, 0) &gt; 0 and s.total_qty &gt; m.stock_max
            union all
            select b.med_id, b.batch_id, b.batch_no, '2',
                   case when to_days(b.expire_date) - to_days(curdate()) &lt;= 30 then '1' else '0' end,
                   b.remain_qty, to_days(b.expire_date) - to_days(curdate()),
                   concat('药品【', m.med_name, '】批号 ', b.batch_no, ' 有效期至 ', date_format(b.expire_date, '%Y-%m-%d'), '，剩余 ', to_days(b.expire_date) - to_days(curdate()), ' 天，属于近效期药品，请优先使用')
            from med_stock_batch b
            inner join med_info m on m.med_id = b.med_id
            where b.batch_status = '1' and ifnull(b.remain_qty, 0) &gt; 0
            union all
            select b.med_id, b.batch_id, b.batch_no, '3', '2', b.remain_qty, 0,
                   concat('药品【', m.med_name, '】批号 ', b.batch_no, ' 已于 ', date_format(b.expire_date, '%Y-%m-%d'), ' 过期，剩余 ', ifnull(b.remain_qty, 0), ' ', ifnull(m.unit, ''), ' 待清理')
            from med_stock_batch b
            inner join med_info m on m.med_id = b.med_id
            where b.batch_status = '2' and ifnull(b.remain_qty, 0) &gt; 0
        ) t
        order by t.warn_type, t.med_id
    </select>

    <select id="countUnhandleWarn" resultType="Integer">
        select count(1) from med_stock_warn
        where handle_status = '0' and med_id = #{medId} and warn_type = #{warnType}
        <choose>
            <when test="batchId != null"> and batch_id = #{batchId}</when>
            <otherwise> and batch_id is null</otherwise>
        </choose>
    </select>
    
    <select id="selectMedStockWarnByWarnId" parameterType="Long" resultMap="MedStockWarnResult">
        <include refid="selectMedStockWarnVo"/>
        where w.warn_id = #{warnId}
    </select>

    <select id="selectWarnSummary" resultType="java.util.HashMap">
        select
            (select count(1) from med_stock_warn where handle_status = '0') as unhandleCount,
            (select count(1) from med_stock_warn where handle_status = '0' and warn_type = '0') as shortageCount,
            (select count(1) from med_stock_warn where handle_status = '0' and warn_type = '1') as overstockCount,
            (select count(1) from med_stock_warn where handle_status = '0' and warn_type = '2') as nearExpiryCount,
            (select count(1) from med_stock_warn where handle_status = '0' and warn_type = '3') as expiredCount,
            (select count(1) from med_stock_warn where handle_status = '0' and warn_level = '2') as seriousCount
    </select>

    <insert id="insertMedStockWarn" parameterType="MedStockWarn" useGeneratedKeys="true" keyProperty="warnId">
        insert into med_stock_warn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="medId != null">med_id,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="warnType != null">warn_type,</if>
            <if test="warnLevel != null">warn_level,</if>
            <if test="currentQty != null">current_qty,</if>
            <if test="warnQty != null">warn_qty,</if>
            <if test="warnContent != null">warn_content,</if>
            <if test="warnTime != null">warn_time,</if>
            <if test="handleStatus != null">handle_status,</if>
            <if test="handleUser != null">handle_user,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="handleRemark != null">handle_remark,</if>
            <if test="createBy != null">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="medId != null">#{medId},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="warnType != null">#{warnType},</if>
            <if test="warnLevel != null">#{warnLevel},</if>
            <if test="currentQty != null">#{currentQty},</if>
            <if test="warnQty != null">#{warnQty},</if>
            <if test="warnContent != null">#{warnContent},</if>
            <if test="warnTime != null">#{warnTime},</if>
            <if test="handleStatus != null">#{handleStatus},</if>
            <if test="handleUser != null">#{handleUser},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="handleRemark != null">#{handleRemark},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
         </trim>
    </insert>

    <insert id="batchMedStockWarn">
        insert into med_stock_warn( med_id, batch_id, batch_no, warn_type, warn_level, current_qty, warn_qty, warn_content, warn_time, handle_status, handle_user, handle_time, handle_remark, create_by, create_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.medId}, #{item.batchId}, #{item.batchNo}, #{item.warnType}, #{item.warnLevel}, #{item.currentQty}, #{item.warnQty}, #{item.warnContent}, #{item.warnTime}, #{item.handleStatus}, '', null, '', #{item.createBy}, sysdate())
        </foreach>
    </insert>

    <update id="updateMedStockWarn" parameterType="MedStockWarn">
        update med_stock_warn
        <trim prefix="SET" suffixOverrides=",">
            <if test="medId != null">med_id = #{medId},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="warnType != null">warn_type = #{warnType},</if>
            <if test="warnLevel != null">warn_level = #{warnLevel},</if>
            <if test="currentQty != null">current_qty = #{currentQty},</if>
            <if test="warnQty != null">warn_qty = #{warnQty},</if>
            <if test="warnContent != null">warn_content = #{warnContent},</if>
            <if test="warnTime != null">warn_time = #{warnTime},</if>
            <if test="handleStatus != null">handle_status = #{handleStatus},</if>
            <if test="handleUser != null">handle_user = #{handleUser},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="handleRemark != null">handle_remark = #{handleRemark},</if>
        </trim>
        where warn_id = #{warnId}
    </update>

    <update id="batchUpdateHandleStatus" parameterType="MedStockWarn">
        update med_stock_warn
        set handle_status = #{handleStatus},
            handle_user = #{handleUser},
            handle_time = #{handleTime},
            handle_remark = ifnull(#{handleRemark}, handle_remark)
        where warn_id in
        <foreach item="warnId" collection="warnIds" open="(" separator="," close=")">
            #{warnId}
        </foreach>
    </update>

    <delete id="deleteMedStockWarnByWarnId" parameterType="Long">
        delete from med_stock_warn where warn_id = #{warnId}
    </delete>

    <delete id="deleteMedStockWarnByWarnIds" parameterType="String">
        delete from med_stock_warn where warn_id in 
        <foreach item="warnId" collection="array" open="(" separator="," close=")">
            #{warnId}
        </foreach>
    </delete>
</mapper>
