<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MedStockCheckMapper">
    
    <resultMap type="MedStockCheck" id="MedStockCheckResult">
        <result property="checkId"    column="check_id"    />
        <result property="checkNo"    column="check_no"    />
        <result property="checkName"    column="check_name"    />
        <result property="checkType"    column="check_type"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="checkDate"    column="check_date"    />
        <result property="checkUser"    column="check_user"    />
        <result property="checkTime"    column="check_time"    />
        <result property="auditBy"    column="audit_by"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMedStockCheckVo">
        select check_id, check_no, check_name, check_type, check_status, check_date, check_user, check_time, audit_by, audit_time, create_by, create_time, update_by, update_time, remark from med_stock_check
    </sql>

    <select id="selectMedStockCheckList" parameterType="MedStockCheck" resultMap="MedStockCheckResult">
        <include refid="selectMedStockCheckVo"/>
        <where>  
            <if test="checkNo != null  and checkNo != ''"> and check_no like concat('%', #{checkNo}, '%')</if>
            <if test="checkName != null  and checkName != ''"> and check_name like concat('%', #{checkName}, '%')</if>
            <if test="checkType != null  and checkType != ''"> and check_type = #{checkType}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and check_status = #{checkStatus}</if>
            <if test="checkUser != null  and checkUser != ''"> and check_user = #{checkUser}</if>
            <if test="params.beginCheckDate != null and params.beginCheckDate != ''"> and check_date &gt;= #{params.beginCheckDate}</if>
            <if test="params.endCheckDate != null and params.endCheckDate != ''"> and check_date &lt;= #{params.endCheckDate}</if>
        </where>
        order by check_id desc
    </select>
    
    <select id="selectMedStockCheckByCheckId" parameterType="Long" resultMap="MedStockCheckResult">
        <include refid="selectMedStockCheckVo"/>
        where check_id = #{checkId}
    </select>

    <select id="selectMaxCheckNo" parameterType="String" resultType="String">
        select max(check_no) from med_stock_check where check_no like concat(#{prefix}, '%')
    </select>

    <insert id="insertMedStockCheck" parameterType="MedStockCheck" useGeneratedKeys="true" keyProperty="checkId">
        insert into med_stock_check
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="checkNo != null and checkNo != ''">check_no,</if>
            <if test="checkName != null and checkName != ''">check_name,</if>
            <if test="checkType != null">check_type,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="checkDate != null">check_date,</if>
            <if test="checkUser != null">check_user,</if>
            check_time,
            <if test="auditBy != null">audit_by,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="checkNo != null and checkNo != ''">#{checkNo},</if>
            <if test="checkName != null and checkName != ''">#{checkName},</if>
            <if test="checkType != null">#{checkType},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="checkDate != null">#{checkDate},</if>
            <if test="checkUser != null">#{checkUser},</if>
            sysdate(),
            <if test="auditBy != null">#{auditBy},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateMedStockCheck" parameterType="MedStockCheck">
        update med_stock_check
        <trim prefix="SET" suffixOverrides=",">
            <if test="checkNo != null and checkNo != ''">check_no = #{checkNo},</if>
            <if test="checkName != null and checkName != ''">check_name = #{checkName},</if>
            <if test="checkType != null">check_type = #{checkType},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="checkDate != null">check_date = #{checkDate},</if>
            <if test="checkUser != null">check_user = #{checkUser},</if>
            <if test="auditBy != null">audit_by = #{auditBy},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where check_id = #{checkId}
    </update>

    <delete id="deleteMedStockCheckByCheckId" parameterType="Long">
        delete from med_stock_check where check_id = #{checkId}
    </delete>

    <delete id="deleteMedStockCheckByCheckIds" parameterType="String">
        delete from med_stock_check where check_id in 
        <foreach item="checkId" collection="array" open="(" separator="," close=")">
            #{checkId}
        </foreach>
    </delete>

    <delete id="deleteMedStockCheckItemByCheckId" parameterType="Long">
        delete from med_stock_check_item where check_id = #{checkId}
    </delete>

    <delete id="deleteMedStockCheckItemByCheckIds" parameterType="String">
        delete from med_stock_check_item where check_id in 
        <foreach item="checkId" collection="array" open="(" separator="," close=")">
            #{checkId}
        </foreach>
    </delete>

    <insert id="batchMedStockCheckItem">
        insert into med_stock_check_item( check_id, med_id, batch_id, batch_no, book_qty, real_qty, diff_qty, diff_type, diff_reason, create_time, remark) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.checkId}, #{item.medId}, #{item.batchId}, #{item.batchNo}, #{item.bookQty}, #{item.realQty}, #{item.diffQty}, #{item.diffType}, #{item.diffReason}, sysdate(), #{item.remark})
        </foreach>
    </insert>
</mapper>
